html, body, h1, h2, h3, p, ol, ul, li, a {
    padding: 0;
    border: 0;
    margin: 0;
    font-size: 100%;
    font: inherit;
}

body 
{
    font-family: Futura, Arial, Helvetica, sans-serif;
    margin: 0 250px 0 250px;
    color: #f2f2f2;
    /*background-color: #4d4d4d;*/
    background-image: url('../../img/new_background/230322.jpg');
}

.navbar-light .navbar-nav .nav-link {
    color: white;
    font-family: font-family: Futura, Arial, Helvetica, sans-serif;;
    font-size: 1.3em;
    padding: 20px;
}
a.dropdown-item{
  font-family: Futura, 'Titillium Web', sans-serif;
}
.navbar-light .navbar-toggler {
    border-color: white;
}
.navbar-light .navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
ul.navbar-nav a:hover, ul.navbar-nav a:active, ul.navbar-nav a:focus{
    /*background-color: #10bce5;*/
    color: #10bce5 !important;
}

.navbar-light img{
  height: 170px;
  padding:20px;
}
.navbar-light{
  padding: none;
}
#carticon {
   position:relative;
}
#carticon[data-badge]:after {
   content: attr(data-badge);
   position: absolute;
   top: 1em;
   right: -7px;
   font-size: .7em;
   background: none;
   border: 2px solid white;
   color: white;
   width: 1.5em;
   height: 1.5em;
   text-align: center;
   line-height: 18px;
   border-radius: 50%;
   font-family: Helvetica;
}

.dropdown button {
    font-family: Futura, Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.dropdown .dropbtn {
    margin: 0 8px 0 0;
    padding: 0 8px 4px 8px;
    border: none;
    text-decoration: none;
    /*color: white;*/
    color: #d9d9d9;
    font-size: 18px;
    background-color: inherit;
    /*border: 3px solid black;*/
}

.fa {
    padding: 0 0 0 5px;
}

.dropdown:hover .dropbtn {
    /*background-color: red;*/
}

.dropdown-content {
    padding: 15px 15px 15px 15px;
    display: none;
    position: absolute;
    background-color: #e6e6ff;
    /*background-color: #bfbfbf;*/
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
    z-index: 1;
    font-size: 13px;
    border-radius: 4px;
}

.dropdown-content .signin {
    background-color: #2196F3;
    /*background-color: #4d4d4d;*/
    border: none;
    color: white;
    height: 30px;
    width: 150px;
    text-align: center;
    text-decoration: none; 
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

form.dropdown-content button:hover {
    background-color: #0b7dda;
}

.dropdown-content p {
    padding-top: 15px;
    text-align: center;
}

.dropdown-content a {
    color: blue;
}

.dropdown-content a:hover {
    color: orange;
}

.dropdown:hover .dropdown-content {
    display: block;
}

* {
    box-sizing: border-box;
}

form.search_bar input[type=text] {
    font-family: Futura, Arial, Helvetica, sans-serif;
    margin: 400px 0 80px 30px;
    padding: 10px;
    font-size: 18px;
    color: white;
    /*border: 1px solid gray;*/
    border: 1px solid #cccccc;
    float: left;
    width: 80%;
    /*background: #f1f1f1;*/
    background: none;
    /*border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;*/
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
}

form.search_bar button {
    font-family: Futura, Arial, Helvetica, sans-serif;
    margin: 400px 0 80px 0;
    float: left;
    width: 10%;
    padding: 10px;
    /*background: #2196F3;*/
    background: none;
    /*color: white;*/
    color: #bfbfbf;
    font-size: 18px;
    /*border: 1px solid gray;*/
    border: 1px solid #cccccc;
    border-left: none;
    cursor: pointer;
    /*border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;*/
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
}

form.search_bar button:hover {
    /*background: #0b7dda;*/
    background: #262626;
    color: white;
}

.badge1 {
   position: relative;
   border-bottom: 3px solid #d9d9d9;
}

.badge1[data-badge]:after {
   content: attr(data-badge);
   position: absolute;
   top: -10px;
   right: -11px;
   font-size: 12px;
   background: #e6e6e6;
   color: #4d4d4d;
   width: 18px;
   height: 18px;
   text-align: center;
   line-height: 18px;
   border-radius: 50%;
}

.badge2 {
   position: relative;
}

.badge2[data-badge]:after {
   content: attr(data-badge);
   position: absolute;
   top: -10px;
   right: -11px;
   font-size: 12px;
   background: #e6e6e6;
   color: #4d4d4d;
   width: 18px;
   height: 18px;
   text-align: center;
   line-height: 18px;
   border-radius: 50%;
}


/* ================== FOR <table> STYLE ================== */
table {
    border-collapse: collapse;
    /*border: 3px solid #f2f2f2;*/
}




.tab_head .pic {
    /*border: 3px solid #d9d9d9;*/
    font-size: 14px;
    height: 50px;
    width: 50px;

}

.tab_head .item {
    /*border: 3px solid #d9d9d9;*/
    font-size: 14px;
    height: 50px;
    width: 570px;

}

.tab_head .ex_meth {
    /*border: 3px solid #d9d9d9;*/
    font-size: 14px;
    height: 50px;
    width: 180px;

}

.tab_head .price {
    /*border: 3px solid #d9d9d9;*/
    font-size: 14px;
    height: 50px;
    width: 70px;

}





.dat_cell .pic {
    /*border: 3px solid #d9d9d9;*/
    border-top: 1px solid #d9d9d9;
    padding: 5px 5px 5px 5px;
    height: 100px;
    width: 100px;
}

.dat_cell .item {
    /*border: 3px solid #d9d9d9;*/
    border-top: 1px solid #d9d9d9;
    padding: 10px 5px 10px 15px;
}

.dat_cell .ex_meth {
    /*border: 3px solid #d9d9d9;*/
    border-top: 1px solid #d9d9d9;
    padding: 5px 5px 5px 5px;
    text-align: center;
}

.dat_cell .price {
    /*border: 3px solid #d9d9d9;*/
    border-top: 1px solid #d9d9d9;
    padding: 5px 5px 5px 5px;
    text-align: center;
}

.dat_cell .sub_tot {
    /*border: 3px solid #d9d9d9;*/
    border-top: 1px solid #d9d9d9;
    padding: 5px 5px 5px 5px;
    text-align: center;
    font-size: 18px;
}

.dat_cell .tot_price {
    /*border: 3px solid #d9d9d9;*/
    border-top: 1px solid #d9d9d9;
    padding: 5px 5px 5px 5px;
    text-align: center;
    font-size: 18px;
}

.dat_cell .pic img {
    max-width: 100%;
    max-height: 100%;
}

input {
    font-family: Futura, Arial, Helvetica, sans-serif;
    /*height: 19px;*/ /* Original Height for input */
    padding: 5px 5px 5px 5px;
    border-radius: 4px;
}

.item input[type="submit"] {
    float: left;
    width: 110px;
    height: 25px;
    margin: 5px 0 0 0;
    cursor: pointer;
    background-color: #d9d9d9;
    color: #4d4d4d;
    font-size: 12px;
    /*margin-left: 200px;*/
}
/* ================ END FOR <table> STYLE ================ */

input[type="submit"] {
    float: right;
    width: 170px;
    height: 30px;
    margin: 0 45px 0 0;
    cursor: pointer;
    background-color: #d9d9d9;
    color: #4d4d4d;
    font-size: 14px;
    /*margin-left: 200px;*/
}

input[type="submit"]:hover {
    background-color: #cccccc;
}

a.flagO {
    color: #10bce5;
    text-align: center;
}
a:hover {
    color: orange;
}

p.content {
    margin-left: 15px;
}

a.content {
    margin-left: 15px;
}



