body{
    background:url('../../img/new_background/Black_and_Grey_Wallpaper.jpg');
    background-size:cover;
}

h1{
    color: white;
    font-family: Helvetica;
    text-align:left;
    margin-top: 1.2em;
    padding: 20px;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
    font-family: Futura, 'Titillium Web', sans-serif;
    font-size: 1.3em;
    padding: 20px;
}

.navbar-light .navbar-toggler {
    border-color: white;
}
.navbar-light .navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
ul.navbar-nav a:hover, ul.navbar-nav a:active, ul.navbar-nav a:focus{
    /*background-color: #10bce5;*/
    color: #10bce5 !important;
}
a.dropdown-item{
  font-family: Futura, 'Titillium Web', sans-serif;
}
.navbar-light img{
  height: 170px;
  padding:20px;
}
.navbar-light{
  padding: none;
}
#carticon {
   position:relative;
}
#carticon[data-badge]:after {
   content: attr(data-badge);
   position: absolute;
   top: 1em;
   right: -7px;
   font-size: .7em;
   background: none;
   border: 2px solid white;
   color: white;
   width: 1.5em;
   height: 1.5em;
   text-align: center;
   line-height: 18px;
   border-radius: 50%;
   font-family: Futura, 'Titillium Web', sans-serif;
}

form.search_bar input[type=text] {
    font-family: Futura, Arial, Helvetica, sans-serif;
    margin: 45% 0% 0% 0%;
    padding: 10px;
    font-size: 18px;
    color: white;
    border: 1px solid #cccccc;
    float: left;
    width: 80%;
    background: none;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
}
form.search_bar input[type=text]::placeholder{
  color: #cccccc;
}
form.search_bar button {
    font-family: Futura, Arial, Helvetica, sans-serif;
    margin: 45% 0% 0% 0%;
    float: left;
    width: 10%;
    padding: 10px;
    /*background: #2196F3;*/
    background: none;
    /*color: white;*/
    color: #bfbfbf;
    font-size: 18px;
    /*border: 1px solid gray;*/
    border: 1px solid #cccccc;
    border-left: none;
    cursor: pointer;
    /*border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;*/
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
}

form.search_bar button:hover {
    /*background: #0b7dda;*/
    background: #262626;
    color: white;
}

form.search_bar input[type=text]:focus {
    outline: none;
}

form.search_bar button:focus {
    outline: none;
}